In [ ]:
# Check documentation: 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html
#
# Video about this notebook: 
# https://youtu.be/E5v-kUi_NUI

In [96]:
import pandas as pd

In [97]:
dfTestCSV = pd.DataFrame(pd.read_csv('./dfanalyticstestdata1.csv', header=2, sep="\t", index_col=0))

In [98]:
dfTestCSV['ID_GA'] = dfTestCSV['ga:pagePath'].str.extract('(?:.*id)([0-9]+)(?:.html)')
dfTestCSV = dfTestCSV.sort_values(by='ID_GA')
dfTestCSV.head(10)

                                           ga:pagePath  ga:pageviews    ID_GA
66   /incoming/Tochter-Alexis-Olympia-Das-Geheimnis...             7    10061
135  /people-tv/international/tochter-alexis-olympi...             1    10061
91                               /news/-id1510256.html             1  1510256
151    /services/datenschutzbestimmungen-id151553.html             5   151553
83   /life/besten-seite-sind-meine-ferien-meta-titl...             1     1742
51           /incoming/schreiben-sie-uns-id19186.html1            28    19186
109  /news/politik/Gegen-Gleichstellung-Homosexuell...             2    19969
154  /services/marktplatz/ticino-weekend-id2241980....             1  2241980
20   /incoming/Detailhandel-verliert-1-Prozent-Umsa...             1    22672
189           /sport/videoformate/dino/-id2483959.html             1  2483959

In [99]:
len(dfTestCSV)

194

In [100]:
dfTestCSV = pd.pivot_table(dfTestCSV,index='ID_GA', values='ga:pageviews', aggfunc=['count', 'sum'])
dfTestCSV = dfTestCSV.sort_values(by='ID_GA')
dfTestCSV.head(10)

               count          sum
        ga:pageviews ga:pageviews
ID_GA
10061              2            8
1510256            1            1
151553             1            5
1742               1            1
19186              1           28
19969              1            2
2241980            1            1
22672              1            1
2483959            1            1
26545              1            1

In [94]:
len(dfTestCSV)

147